* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b3d0b;
  font-family: Arial, sans-serif;
}

.start-screen {
  text-align: center;
}

.start-screen h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
}

#start-btn {
  padding: 15px 40px;
  font-size: 1.2rem;
  background: #ffcc00;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#start-btn:hover {
  background: #e6b800;
}

#option-list {
  display: none;
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  padding: 0;
  list-style: none;
}

#option-list li {
  background: #ffffff;
  color: #111;
  padding: 15px;
  margin: 15px;
  border-radius: 12px;
  transition: all 0.25s ease;
  text-align: left;
}

#option-list li:hover {
  background: #ffd54a;
  transform: translateY(-3px);
}
#option-list li.selected {
  background: #ffd54a;
  color: #111;
  border: 2px solid #fff;
}

#option-list li.correct {
  background-color: #28a745;
  color: white;
}

#option-list li.wrong {
  background-color: #dc3545;
  color: white;
}
.new_button {
  background-color: transparent;
  padding: 20px;
}
.prev-btn {
  background: white;
  color: #0b6e3d;
  padding: 12px;
  border: none;
  border-radius: 10px;
}
.prev-btn:hover {
  background: #e6b800;
}
.prev-btn {
  margin-right: 15px;
}

.next-btn {
  background: #ffd54a;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 10px;
}
.next-btn:hover {
  background: #e6b800;
}
.next-btn {
  margin-left: 15px;
}
.submit-btn {
  background: #28a745;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  font-weight: bold;
  cursor: pointer;
}

.submit-btn:hover {
  background: #1e7e34;
}
